# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Docker
*.log

# Linux
*.swp

# macOS
.DS_Store